/* The ModalRecherche (background) */
.shade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* ModalRecherche Content */
.popup {
    position: fixed;
    background-color: #fefefe;
    z-index: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5px;

}

.popup > div:first-child {
    border-radius: 5px 5px 0 0;
}


.popup > div > h2 {
    color: white;
    padding: 35px 10px 20px 10px;

}


.popup > div {

    flex-grow: 1;
    text-align: center;
}

.popup > div > button {

}

/* style button in popup */
.buttonPopup {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border: none;
    color: white;
    justify-content: flex-end;
    min-width: 15em;
    background: #1D5EA8;
    padding: 0;
    margin: 20px auto;
}

.arrow {
    background: rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
}


.buttonPopup:hover {
    background: #1f8cdf;
}

.buttonPopup > h3 {
    flex-grow: 3;
    padding: 0.4em 1em;
    font-size: 14px

}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Animation shade */

.shade-enter {
    opacity: 0.01;
}

.shade-enter-active {
    opacity: 1;
    transition: all 100ms ease-out;
}

.shade-exit {
    opacity: 1;
}

.shade-exit-active {
    opacity: 0.01;
    transition: all 100ms ease-out;
}

/* Animation popup */

.popup-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
}

.popup-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 200ms ease-out;
}

.popup-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
}

.popup-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateY(50%);
    transition: all 200ms ease-out;
}


