.gallery {

  background-color: #e2ded6;
  padding: 10px 0px;
  width: 100vw;
  border-bottom: 8px solid #FCFFF5;


  .scrollHoriz {

    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;

    .more {

      min-height: 100%;
      min-width: 100px;
      border: 2px solid #D2C19F;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;

      color: #D2C19F;
      margin: 10px 10px;

      &:hover {
        color: #FCFFF5;
        border: 2px solid #FCFFF5;
      }
    }


    .statu {
      background-color: #fff;
      border-bottom: 8px solid #D2C19F;
      box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
      min-width: 300px;
      margin: 10px 10px;
      height: 300px;


      .photopublie {
        height: 200px;
        background-size: cover;
        background-position: center;
      }

      .infoStatus {
        padding: 10px;

        .texteStatu {
          width: 100%;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          margin: 10px 0;
          text-overflow: ellipsis;
        }

        label {
          font-size: 17px;
          color: #1D5EA8;
        }

        .containerIconStatus {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          color: #D2C19F;
          font-size: 17px;
          align-items: center;

          a {
            text-decoration: none;
            color: #000;
          }

          div {
            padding: 0 5px;
          }
        }
      }
    }

    .hauteurMax {
      max-height: 123px;
    }
  }

  #page-numbers {
    list-style: none;
    display: flex;
    margin: 0 20px 0 0;
    float: right;

    li {
      padding: 8px 16px;
      color: black;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      border: 1px solid #C3C3C3;

      &:hover:not(&.active) {
        background-color: #C3C3C3;
        transition: background-color 0.3s;

      }

      &.active {
        background-color: #D2C19F;
        color: #fff;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.display {
  display: none;
}